<%= form_for(@user) do |f| %>
  <h2>User info</h2>
  <div>
    <span>Name</span>
    <%= f.text_field :name, autofocus: true %>
  </div>
  <div class="form-group has-icon">
  	<span>Image</span>
	<%= f.attachment_field :profile_image, class: "user-edit-form" %>
  </div>
  <div>
  	<span>Introduction</span>
  	 <%= f.text_area :introduction, autofocus: true %>
  </div>
  <%= f.submit "Update User" %>
<% end %>